<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ilove.teamd">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DML"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBM-QI_cobHtSMdo56T1ZijHBDpU0HtCBE"
            />
        <service android:name="com.example.ilove.teamd.Heart.PolarBleService"
                  android:enabled="true"/>
        <activity
            android:name=".TeamD"
            android:label="DML"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".account">
        </activity>
        <activity android:name=".logout">
        </activity>
        <activity android:name=".graph">
        </activity>
        <activity android:name=".login">
        </activity>
        <activity android:name=".DeviceListActivity"/>

        <activity android:name=".registration_authentification">
        </activity>
        <activity android:name=".reset_authentification">
        </activity>
        <activity android:name=".reset_password">
        </activity>
        <activity android:name=".new_password">
        </activity>
        <activity android:name=".current">
        </activity>
        <activity android:name=".registration">
        </activity>
    </application>

</manifest>